:root{
  --theme-accent: #ffffff ;
  --theme-text-accent: #212121;
  --theme-text: #757575;
  --theme-button: #2196F3; 
  --theme-bgr: #E5E5E5; 
  --theme-button-other: #F5F4FA;
}

body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 0.03em;
  background-color: var(--theme-accent);
}
.header {
  background-image: url('//images/top-line-bg.svg');
  background-size: cover;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
}
.web {
  color: var(--theme-button);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
}
.navigation {
  color: var(--theme-text-accent);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation:hover {
  color: var(--theme-button);
}
.link {
  color: var(--theme-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover {
  color: var(--theme-button);
}
.current {
  color: var(--theme-button);
}
.about {
  background-color: #2F303A;;
  width: 1600px;
  height: 600px;
}
.about-portfolio {
  background-color: var(--theme-bgr);
}
.tagline {
  color: var(--theme-accent);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.button {
  position: absolute;
  cursor: pointer;
  color: var(--theme-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--theme-button);
}
.button-options {
  color: var(--theme-button-other);
  cursor: pointer;
  height: 38px;
  border-radius: 4px;
}
.button-options:hover {
  color: var(--theme-button);
}
.benefits-header {
  color: var(--theme-text-accent);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  color: var(--theme-text);
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
}

.about-doing {
  font-size: 36px;
  color: var(--theme-text-accent);
}

.command {
  background-image: url('/images/Section-bg.png');
}
.command-text {
  color: var(--theme-text-accent);
  font-size: 36px;
  line-height: 1.16;
}
.employees-text {
  color: var(--theme-text-accent);
  font-size: 16px;
  line-height: 1.18;

}
.employees-text-secondary {
  color:var(--theme-text);
  font-size: 16px;
  line-height: 1.18;
}
.footer {
  background: url('/images/Footer-bg.svg');
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
.address {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.71;
}
.text {
  color: var(--theme-text-accent);
  font-size: 18px;
  line-height: 2;
}
.text-secondary {
  color: var(--theme-text);
  font-size: 16px;
  line-height: 1.85;
}
